*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}
.shopping-cart-wrapper{
    width: 100%;
}

/* navigation section */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}
header nav .brandLogo>a{
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    span{
        color: #ff0000;
    }
}
header nav .cart>a>i{
    color: #fff;
    font-size: 1.5rem;
    position: relative;

}
.cart>a>i>span{
    position: absolute;
    top: -7px;
    left: 11px;
    background-color: #ff0000;
    padding: 0.5rem;
    border-radius: 40px;
    font-size: 11px;
    text-align: center;
}
.items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
    flex-wrap: wrap;
    gap: 2rem;
}
.cart-item{
    border: 1px solid gray;
    padding: 0.5rem;
    width: 200px;
    border-radius: 5px;
}
.cart-item>.item-image{
    width: 188px;
    height: 250px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
.brand-name>h2{
    font-size: 1.8rem;
    margin: 0.5rem auto;
}
.brand-info>p{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.price-quantity-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7rem 0;
}
.quantity-btn>button{
    padding: 0.2rem 0.4rem;
    color: #2b2b2b;
    cursor: pointer;
}
.quantity-btn>span{
    font-size: 1.5rem;
    margin: 0 0.5rem;
}
/* cart section */
.container{
    width: 100%;
}
.cart-summary{
    text-align: center;
    margin: 2rem auto;
}
.cart-summary h2{
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}
.cart-summary a{
    text-decoration: none;
    background-color: #2b2b2b;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bold;
}
.items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product{
    border: 1px solid #2b2b2b;
    width: 280px;
    height: 120px;
    display: flex;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 4px;
}
.product img{
    object-fit: cover;
    transition: all 0.3s ease-in-out;

}
.product:hover img{
    transform: scale(1.05);
}
.product-details{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title-price{
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    p{
        font-size: 1.5rem;
    }

    h3{
        background-color: #2b2b2b;
        color: #ccc;
        padding: 0.3rem 0.7rem;
        border-radius: 3px;
    }

    i{
        font-size: 1.5rem;
        color: #ff0000;
    }
}
.btn{
    padding: 0.3rem 0.7rem;
    outline: none;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}
.checkout{
    background-color: green;
    color: #fff;
    margin-right: 0.5rem;
}
.remove-all{
    background-color: #ff0000;
    color: #fff;
}